.content {
  margin: 0;
  padding: 0;
}
.modal {
  top: 0;
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
}
.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 75vh;
  width: 30%;
  border-radius: 4px;
}
